* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --primary: #282157;
    --secondary: #d9c077e1;
    --background: #24203bef;
    --height-article: 3rem;
    --hover-time: 0.3s
}


body {

    background: linear-gradient(180deg, rgba(30, 25, 59, 1) 0%, rgba(40, 33, 87, 1) 50%, rgba(75, 65, 113, 1) 100%);
    font-family: 'Open Sans', sans-serif, Arial;
    height: 100vh;
    outline: none;

}

header {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 1.5rem 0;

}

.article {
    display: flex;
    align-items: center;
    
    color: #fff;
    background-color: var(--secondary);
    width: 90%;
    max-width: 40rem;
    margin: 0.3rem 0;
    height: var(--height-article);
    padding: 1.5rem 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    box-shadow: #1f1f1f 0.1rem 0.1rem 5px;
    border-radius: 1.7rem;

    text-decoration: none;
    transition: transform var(--hover-time);


}

#cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.article:hover {
    transform: scale(1.007);
}

.img-article {
    width: 3rem;
    max-height: 2.7rem;
}

.title-article {
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
}

#description {
    padding: 0.5rem 1.5rem;
    color: var(--secondary);
}

#logo {
    width: 6rem;
    border-radius: 50%;
    margin-bottom: 0.6rem;
}

#title {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
}

.socialmedia a {
    display: block;
}

.socialmedia {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 2.5rem 0;
    max-width: 50rem;
}

.socialmedia img {
    height: 3rem;
    transition: var(--hover-time);
}

.socialmedia img:hover {
    transform: scale(1.01);
}